{% extends 'base.html' %}


{% block metadata %}
    <title>PD Award List</title>
{% endblock %}


{% block content %}
<h2>List of Professional Development Funding</h2>
    <a href="{% url 'award:award_pd_create' %}">Create New Professional Development Funding</a>
    <table border="2" class="table table-bordered" style="width:50%;">
        <thead>
            <th>ID</th>
            <th>Professional Development Description</th>
            <th>Details</th>
            <th>Edit</th>
        </thead>

        <tbody>
        {% for pdaward in object_list %}

            <tr>
                <td>{{ pdaward.id }}</td>
                <td>{{ pdaward.awardName }}</td>
                <td><a href="{% url 'award:award_pd_detail' pdaward.pk %}">[View PD Funding Detail]</a></td>
                <td><a href="{% url 'award:award_pd_edit' pdaward.pk %}">[Edit PD Funding]</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}