{% extends 'base.html' %}
{% load bootstrap3 %}
{% block metadata %}
    <title>PD Funding</title>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
            $(document).ready(function() {

                //Search functionality for members attending a committee
                var members = $(".js-membersAwarded");

              members.select2({
                ajax: {
                    //a list of all members
                    url: "/api-root/members_list/search/", //URL of the REST API for querying the members
                    dataType: 'json',
                    data: function(params)
                    {
                        return {
                            q: params.term, //The term to be sent
                            offset: (params.page ) * 10 //Which page of the REST page will be loaded
                        }
                    },
                    processResults: function (data, params) {
                        return {
                            results: data.results,
                            pagination: {
                                more: true //enables the pagination feature
                            }
                        }
                   },
                }
              });
            });//end ready
            </script>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_form_errors form %}
            {% buttons %}
                <center>
                <button class="btn btn-primary" type="submit" style="width: 49%">Submit</button>
                <button class="btn btn-warning" type="reset" style="width: 49%">Reset</button>
                </center>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}