{% extends 'base.html' %}
{% load bootstrap3 %}
{% block metadata %}
    <title>PD Award Detail</title>
{% endblock %}

{% block content %}
    <h2>Professional Development Funding Details</h2>
        <h3>Award Name: {{ object.awardName }}</h3>
        <p>Member Awarded: {{ object.memberAwarded }}</p>
        <p>Professional Development Cost: {{ object.awardCost }}</p>
        <p>Start Date: {{ object.startDate }}</p>
        <p>End Date: {{ object.endDate }}</p>
        {%  buttons %}
            <input type="button" value="View PD Award List" class="btn btn-primary" onclick="location.href='{% url 'award:award_pd_list' %}'" />
            <input type="button" value="Edit PD Award" class="btn btn-warning" onclick="location.href='{% url "award:award_pd_edit" object.id %}'" />
        {%  endbuttons %}
{% endblock %}