{% extends 'base.html' %}
{% load static %}
{% block metadata %}
    <title>File Upload</title>
{% endblock %}

{% block content %}
    <div id="file-form">
            <input type="file" name="pic" id='file-select'>
            <button id="upload_button">Submit</button>
            <button id="stop_upload">Stop</button>
    </div>

    <div id="progress"></div>

    <table id="list_members" class="table"></table>
{% endblock %}

{% block scripts %}
    <script src="{% static 'jquery-3.1.1.js' %}"></script>
    <script src="{% static 'add_member/bulkcreate_scripts.js' %}"></script>
    <script>
        temp = BulkCreate;
        temp.init('{% url 'add_member:excel-upload' %}', '{% url 'add_member:excel-to-json' 0 %}');
    </script>
{% endblock %}
