{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block metadata %}
    <script href="{% static 'spfa_mt/libraries/jquery-3.1.1.min.js' %}"></script>
    <title>Member Filter</title>
{% endblock %}



{% block content %}

    <div class="col-lg-2 col-md-12 filter_widget">
        <div id="form_container">
            <div id="form">
                {% bootstrap_form form %}
            </div>
        </div>
            <button class="btn" id="moreFilters">Additional Filters</button>
            <button class="btn" id="filter">Filter</button>

    </div>

    <div class="col-lg-10">
        <div id="member_data">
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Member ID</th>
                    <th>City</th>
                    <th>Postal Code</th>
                    <th>Birth Date</th>
                    <th>Campus</th>
                </thead>

                <tbody id="list_member">
                </tbody>
                <tfoot>
                    <td> <button class="btn" id="show_more">Load More</button></td>
                </tfoot>

            </table>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script >
        var page = 1;
        var data_each_page = 30;
        var end_point_url = "/member-filter?limit=30&" ;
        var temp_endpoint = end_point_url;
        var form_no = 1;
        $(document).ready( function() {
            $("#moreFilters").click(function(){
                var source = $("#form"),
                    clone = source.clone();

                console.log("Hi");
                console.log((clone));

                clone.find(':input').attr('id', function(i, val){
                    return val + form_no;
                });

                clone.appendTo("#form_container");

                form_no++;
            });

            $("#filter").click(function(){
                temp_endpoint = end_point_url;
                $('#id_memberID').val() > 0 ? temp_endpoint += "memberID=" + encodeURIComponent($('#id_memberID').val())+ "&" : false;
                $('#id_firstName').val().length > 0 ? temp_endpoint += "firstName__contains=" + encodeURIComponent($('#id_firstName').val())+ "&" : false;
                $('#id_middleName').val().length > 0 ? temp_endpoint += "middleName__contains=" + encodeURIComponent($('#id_middleName').val())+ "&": false;
                $('#id_lastName').val().length > 0 ? temp_endpoint += "lastName__contains=" + encodeURIComponent($('#id_lastName').val())+ "&": false;
                $('#id_socNum').val() > 0 ? temp_endpoint += "socNum__contains=" + encodeURIComponent($('#id_socNum').val())+ "&": false;
                $('#id_city').val().length > 0 ? temp_endpoint += "city__contains=" + encodeURIComponent($('#id_city').val())+ "&": false;
                $('#id_mailAddress').val().length > 0 ? temp_endpoint += "mailAddress__contains=" + encodeURIComponent($('#id_mailAddress').val())+ "&": false;
                $('#id_mailAddress2').val().length > 0 ? temp_endpoint += "mailAddress2__contains=" + encodeURIComponent($('#id_mailAddress2').val())+ "&": false;
                $('#id_pCode').val().length > 0 ? temp_endpoint += "pCode__contains=" + encodeURIComponent($('#id_pCode').val())+ "&": false;
                $('#id_hPhone').val().length > 0 ? temp_endpoint += "hPhone__contains=" + encodeURIComponent($('#id_hPhone').val())+ "&": false;
                $('#id_campus').val().length > 0 ? temp_endpoint += "campus__contains=" + encodeURIComponent($('#id_campus').val())+ "&": false;
                $('#id_jobType').val().length > 0 ? temp_endpoint += "jobType__contains=" + encodeURIComponent($('#id_jobType').val())+ "&": false;
                $('#id_committee').val().length > 0 ? temp_endpoint += "committee__contains=" + encodeURIComponent($('#id_committee').val())+ "&": false;
                $('#id_membershipStatus').val().length ? temp_endpoint += "membershipStatus__contains=" + encodeURIComponent($('#id_membershipStatus').val())+ "&": false;
                ($('#id_min_hDay').val() != null ) ? temp_endpoint += "min_hDay=" + encodeURIComponent($('#id_min_hDay').val())+ "&": temp_endpoint += '';
                ($('#id_max_hDay').val() != null ) ? temp_endpoint += "max_hDay=" + encodeURIComponent($('#id_max_hDay').val())+ "&": temp_endpoint += '';
                ($('#id_min_bDay').val() != null ) ? temp_endpoint += "min_bDay=" + encodeURIComponent($('#id_min_bDay').val())+ "&": temp_endpoint += '';
                ($('#id_max_bDay').val() != null ) ? temp_endpoint += "max_bDay=" + encodeURIComponent($('#id_max_bDay').val())+ "&": temp_endpoint += '';
                $('#id_gender').val().length > 0 ? temp_endpoint += "gender=" + encodeURIComponent($('#id_gender').val()) + "&": false;

                for(var i = 1; i < form_no; i++)
                {
                    console.log(i);
                    $('#id_memberID'+i).val() > 0 ? temp_endpoint += "memberID=" + encodeURIComponent($('#id_memberID'+i).val())+ "&" : false;
                    $('#id_firstName'+i).val().length > 0 ? temp_endpoint += "firstName__contains=" + encodeURIComponent($('#id_firstName'+i).val())+ "&" : false;
                    $('#id_middleName'+i).val().length > 0 ? temp_endpoint += "middleName__contains=" + encodeURIComponent($('#id_middleName'+i).val())+ "&": false;
                    $('#id_lastName'+i).val().length > 0 ? temp_endpoint += "lastName__contains=" + encodeURIComponent($('#id_lastName'+i).val())+ "&": false;
                    $('#id_socNum'+i).val() > 0 ? temp_endpoint += "socNum__contains=" + encodeURIComponent($('#id_socNum'+i).val())+ "&": false;
                    $('#id_city'+i).val().length > 0 ? temp_endpoint += "city__contains=" + encodeURIComponent($('#id_city'+i).val())+ "&": false;
                    $('#id_mailAddress'+i).val().length > 0 ? temp_endpoint += "mailAddress__contains=" + encodeURIComponent($('#id_mailAddress'+i).val())+ "&": false;
                    $('#id_mailAddress2'+i).val().length > 0 ? temp_endpoint += "mailAddress2__contains=" + encodeURIComponent($('#id_mailAddress2'+i).val())+ "&": false;
                    $('#id_pCode'+i).val().length > 0 ? temp_endpoint += "pCode__contains=" + encodeURIComponent($('#id_pCode'+i).val())+ "&": false;
                    $('#id_hPhone'+i).val().length > 0 ? temp_endpoint += "hPhone__contains=" + encodeURIComponent($('#id_hPhone'+i).val())+ "&": false;
                    $('#id_campus'+i).val().length > 0 ? temp_endpoint += "campus__contains=" + encodeURIComponent($('#id_campus'+i).val())+ "&": false;
                    $('#id_jobType'+i).val().length > 0 ? temp_endpoint += "jobType__contains=" + encodeURIComponent($('#id_jobType'+i).val())+ "&": false;
                    $('#id_committee'+i).val().length > 0 ? temp_endpoint += "committee__contains=" + encodeURIComponent($('#id_committee'+i).val())+ "&": false;
                    $('#id_membershipStatus'+i).val().length ? temp_endpoint += "membershipStatus__contains=" + encodeURIComponent($('#id_membershipStatus'+i).val())+ "&": false;
                    ($('#id_min_hDay'+i).val() != null ) ? temp_endpoint += "min_hDay=" + encodeURIComponent($('#id_min_hDay'+i).val())+ "&": temp_endpoint += '';
                    ($('#id_max_hDay'+i).val() != null ) ? temp_endpoint += "max_hDay=" + encodeURIComponent($('#id_max_hDay'+i).val())+ "&": temp_endpoint += '';
                    ($('#id_min_bDay'+i).val() != null ) ? temp_endpoint += "min_bDay=" + encodeURIComponent($('#id_min_bDay'+i).val())+ "&": temp_endpoint += '';
                    ($('#id_max_bDay'+i).val() != null ) ? temp_endpoint += "max_bDay=" + encodeURIComponent($('#id_max_bDay'+i).val())+ "&": temp_endpoint += '';
                    $('#id_gender'+i).val().length > 0 ? temp_endpoint += "gender=" + encodeURIComponent($('#id_gender'+i).val()) + "&": false;
                }
                console.log(temp_endpoint);
                $('#list_member')[0].innerHTML = "";
                $("#show_more").show();
                ajax_call(temp_endpoint);
            });

            $("#show_more").click(function(){
                ajax_call(temp_endpoint+"offset=" + data_each_page*page);
                page++;
            });

            function ajax_call(end_url){
                $.ajax({
                    url: end_url,
                    success: function(data){
                        console.log("Here's the data : ");
                        console.log(data);
                        if( data.count != 0){
                            data.results.forEach(function(e){
                                var ele = $('<tr></tr>');
                                ele.append(
                                    "<td><a href='/member/" + e.id + "'>" + e.firstName + " " + e.lastName + "</a></td>"
                                );
                                ele.append(
                                    $("<td></td>").text(e.gender)
                                );
                                ele.append(
                                    $("<td></td>").text(e.memberID)
                                );
                                ele.append(
                                    $("<td></td>").text(e.city)
                                );
                                ele.append(
                                    $("<td></td>").text(e.pCode)
                                );
                                ele.append(
                                    $("<td></td>").text(e.bDay)
                                );
                                ele.append(
                                    $("<td></td>").text(e.campus)
                                );

                                $('#list_member').append(ele);
                            });
                        }else{
                            $('#list_member').append("<td colspan=7 style='text-align: center'><strong>End Of List</strong></td>");
                            $("#show_more").hide();
                        }


                    }
                });
            }

            ajax_call(temp_endpoint);
        });
    </script>
{% endblock %}