{% extends 'base.html' %}
{% load bootstrap3 %}
{% block metadata %}
    <title>Member Details</title>
    <style>
    #file_header, #related_contact_logs_header {
        padding-right: 0;
        padding-left: 0;
        border: none;
        background-color: transparent;
        color: rgb(51, 51, 51);
    }

    #file_header_h3, #related_contact_logs_h3 {
        margin: 0;
    }

    .panel-info {
        padding: 0;
        border: none;
    }

    #file_list {
        padding: 0;
    }
</style>

<script>
    // These next few lines of code are courtesy of:
    // http://stackoverflow.com/questions/19024218/bootstrap-3-collapse-change-chevron-icon-on-click/
    $(document).ready(function()
    {
        $("#file_list").on("shown.bs.collapse", function()
        {
           $("#file_list_chevron").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });

        $('#file_list').on('hidden.bs.collapse', function()
        {
            $("#file_list_chevron").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });

        $("#related_contact_logs").on("shown.bs.collapse", function()
        {
           $("#related_contact_logs_chevron").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
        });

        $('#related_contact_logs').on('hidden.bs.collapse', function()
        {
            $("#related_contact_logs_chevron").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
        });
    });
</script>
{% endblock %}




{% block content %}
    <div class="container">
        <h2>Member #{{ object.id }}: {{ object.firstName }} {{ object.lastName }}</h2>

{#        {% if object.awardedMember %}#}
            {# I'm including ID and description attributes here so that it's clear what #}
            {# the ID and description of the award are. #}
            <h3>Personal Information</h3>
            <table class="table table-striped">
                <tr>
                    <th>Full Name</th>
                    <td>{{ object.firstName }} {{ object.middleName }} {{ object.lastName }}</td>
                </tr>
                <tr>
                    <th>Member ID</th>
                    <td>{{ object.memberID }}</td>
                </tr>
                <tr>
                    <th>Date of Birth</th>
                    <td>{{ object.bDay|date:"d, M. Y" }}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{ object.get_gender_display }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ object.mailAddress }}</td>
                </tr>
                {% if object.mailAddress2 %}
                <tr>
                    <th>Second Address</th>
                    <td>{{ object.mailAddress2 }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>City</th>
                    <td>{{ object.city }}</td>
                </tr>
                <tr>
                    <th>Postal Code</th>
                    <td>{{ object.pCode }}</td>
                </tr>
                <tr>
                    <th>Home Phone</th>
                    <td>{{ object.hPhone }}</td>
                </tr>
                <tr>
                    <th>Cell Phone</th>
                    <td>{{ object.cPhone }}</td>
                </tr>
                <tr>
                    <th>Home Email</th>
                    <td>{{ object.hEmail }}</td>
                </tr>
                {% if object.socNum %}
                    <tr>
                        <th>Social Insurance Number</th>
                        <td>*** *** ***</td>
                    </tr>
                {% endif %}
            </table>

            <h3>Employment Information</h3>
            <table class="table table-striped">
                {% if object.employeeClass %}
                <tr>
                    <th>Employee Class</th>
                    <td>{{ object.employeeClass }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Campus of Employment</th>
                    <td>{{ object.campus }}</td>
                </tr>
                {% if object.committee %}
                <tr>
                    <th>Committee</th>
                    <td>{{ object.committee }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Primary Program</th>
                    <td>{{ object.programChoice }}</td>
                </tr>
                {% if object.posBeginDate %}
                <tr>
                    <th>Position Begin Date</th>
                    <td>{{ object.posBeginDate|date:"d, M. Y" }}</td>
                </tr>
                {% endif %}
                {% if object.posEndDate %}
                <tr>
                    <th>Position End Date</th>
                    <td>{{ object.posEndDate|date:"d, M. Y" }}</td>
                </tr>
                {% endif %}
                {% if object.terminationDate %}
                <tr>
                    <th>Termination Date</th>
                    <td>{{ object.terminationDate|date:"d, M. Y" }}</td>
                </tr>
                {% endif %}
                {% if object.department %}
                <tr>
                    <th>Department</th>
                    <td>{{ object.department }}</td>
                </tr>
                {% endif %}
                {% if object.jobSuffix %}
                <tr>
                    <th>Job Suffix</th>
                    <td>{{ object.jobSuffix }}</td>
                </tr>
                {% endif %}
                {% if object.posTitle %}
                <tr>
                    <th>Position Title</th>
                    <td>{{ object.posTitle }}</td>
                </tr>
                {% endif %}
                {% if object.position %}
                <tr>
                    <th>Position</th>
                    <td>{{ object.position }}</td>
                </tr>
                {% endif %}
                {% if object.employeeStatus %}
                <tr>
                    <th>Employee Status</th>
                    <td>{{ object.employeeStatus }}</td>
                </tr>
                {% endif %}
            </table>

            {% if object.memberfiles_set.all %}
                <div class="panel panel-info col-sm-12">
                <div href="#file_list" class="panel panel-heading col-sm-12" data-toggle="collapse" id="file_header">
                <h3 id="file_header_h3">Related Files <span class="glyphicon glyphicon-chevron-down" style="float: right;" id="file_list_chevron"></span></h3>
                </div>
                <div class="panel-body collapse" id="file_list">
                <table class="table table-striped">
                <thead>
                    <th>File Name</th>
                    <th>Date Uploaded</th>
                    <th>Link</th>
                </thead>
                {% for file in object.memberfiles_set.all %}
                    <tr>
                        <td>{{ file.fileName }}</td>
                        <td>{{ file.dateUploaded|date:"d, M. Y" }}</td>
                        <td><a href="download/{{ file.fileName }}" download>[Download]</a></td>
                    </tr>
                {% endfor %}
                </table>
                </div>
                </div>
            {% endif %}

            {% if object.contactlog_set.count > 0 %}
                <div class="panel panel-info col-sm-12">
                <div href="#related_contact_logs" class="panel panel-heading col-sm-12" data-toggle="collapse" id="related_contact_logs_header">
                <h3 id="related_contact_logs_h3">Related Files <span class="glyphicon glyphicon-chevron-down" style="float: right;" id="related_contact_logs_chevron"></span></h3>
                </div>
                <div class="panel-body collapse" id="related_contact_logs">
                <h3>Related Contact Logs</h3>
                <table class="table table-striped">
                <thead>
                    <th>Date</th>
                    <th>Contact Code</th>
                    <th>Description</th>
                    <th>Link</th>
                </thead>
                {% for cl in object.contactlog_set.all %}
                    <tr>
                        <td>{{ cl.date|date:"d, M. Y" }}</td>
                        <td>{{ cl.get_contactCode_display }}</td>
                        <td>{{ cl.description }}</td>
                        <td> <a href="{% url 'contact_log_creation:details' cl.pk %}">[Link]</a></td>
                    </tr>
                {% endfor %}
                </table>
                </div>
                </div>
            {% endif %}

        {% buttons %}
        <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />
        {% endbuttons %}
        <hr>
        <center>
            <a href="{% url 'add_member:member_update' object.id %}">Edit this Member</a> |
            <a href="{% url 'add_member:member_add' %}">Add new Member</a> |
            <a href="{% url 'add_member:member_list' %}">View all Members</a>
        </center>
    {% endblock %}
    </div>