{% extends 'base.html' %}
{%  load bootstrap3 %}

{% block metadata %}
 <title>List of Members</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h2><strong>List of Members</strong></h2>
        <a href="{% url 'add_member:member_add' %}">Add a New Member</a></br>
        <a href="{% url 'add_member:bulk_create' %}">Member Bulk Upload</a>
        <table class="table table-bordered" style="width:50%;" border="1">
            <thead>
                <th>Name</th>
                <th>Action1</th>
                <th>Action2</th>
            </thead>
            {% for person in object_list %}
                 <tr>
                    <td>{{ person.firstName }} {{ person.lastName }}</td>
                    <td><a href="{% url 'add_member:member_update' person.pk %}">[Update]</a></td>
                    <td><a href="{% url 'add_member:member_detail' person.pk %}">[View Detail]</a></td>
                </tr>
             {% if empty %}
                <tr>NO MEMBERS YET</tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

{% endblock %}