{% extends 'base.html' %}
{% load bootstrap3 %}

{% block metadata %}
    <title>Add Member</title>
{% endblock %}

{% block content %}
    <div class="container">
        {% if form.instance.id %}
            <h2><strong>Edit Member</strong></h2>
        {% else %}
            <h2><strong>Create a Member</strong></h2>
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-warning">Reset</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}Complainant