{% extends 'base.html' %}
{% load bootstrap3 %}

{% block metadata %}
    <title>Add Member</title>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {% bootstrap_form form %}
            {% buttons %}
                {% if form.instance.id %}
                    <input type="submit" class="btn btn-primary" name="submit" value="Update Member" />
                {% else %}
                    <input type="submit" class="btn btn-primary" name="submit" value="Create Member" />
                {% endif %}
                <input type="reset" class="btn btn-warning" name="reset" value="Reset" />
            {% endbuttons %}
        </form>
    </div>
{% endblock %}Complainant