{% extends 'base.html' %}

{% block metadata %}
    <title>Person Detail</title>
{% endblock %}

{% block content %}
    <h1>Name: {{ object.firstName }} {{ object.lastName }}</h1>
    <p>SIN NUMBER: {{ object.socNum }}</p>
    <p>File(s) Associated to {{ object.firstName }} {{ object.lastName }}:</p>
    {% if object.containsfile %}
        {% for fi in object.get_files %}
            <p>{{ fi.fileName }}{{ fi.fileDesc }} <a href="download/{{ fi.fileName }}" download>Download</a></p>
        {% endfor %}
    {% endif %}
{% endblock %}
