{% extends 'base.html' %}

{% block metadata %}
    <title>Committees</title>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    var criteriaCount = 0;

    /***
         * Function:    runQuery
         * Parameters:  requestURL: The URL to run the request against.
         * Purpose: Makes an AJAX call to the given request URL, and then returns the data.
         */
        function runQuery(requestURL)
        {
            var toReturn = null;
            $.ajax({
                // Setting async to false, so that a) data can be returned from this method and b) we can successfully
                // apply AND/OR filtering later on in this code
                async: false,
                method: 'GET',
                url: requestURL,
                success: function(data, status)
                {
                    toReturn = data.results;
                }
            });

            return toReturn;
        }

        /***
         * Function:    addCriteria
         * Purpose:     Add another criteria box to the form, and increment the criteria count.
         */
        function addCriteria()
        {
            criteriaCount++;
            var newRow = '<tr id="filter-entry-' + criteriaCount + '">'
                               +'<td class="form-group" style="padding: 2px;"> '
                               +'<select class="form-control" id="field-choice-'+ criteriaCount
                               +'" onchange="determineToShowEquality(0)"> '
                               +'<option value="id">ID</option> '
                               +'<option value="lead">Lead</option>'
                               +'<option value="complainant">Complainant</option>'
                               +'<option value="campus">Campus</option>'
                               +'<option value="satellite">Satellite</option>'
                               +'<option value="school">School</option>'
                               +'<option value="program">Program</option>'
                               +'<option value="department">Department</option>'
                               +'<option value="caseType">Case Type</option>'
                               +'<option value="status">Case Status</option>'
                               +'<option value="additionalMembers">Additional Members</option>'
                               +'<option value="additionalNonMembers">Additional Non-Members</option>'
                               +'<option value="date">Date</option>'
                               +'</select></td><td class="form-group" style="padding: 2px;">'
                               +'<select class="form-control" id="field-criteria-' + criteriaCount + '">'
                               +'<option value="before">before</option> <option value="ee" selected>equals</option>'
                               +'<option value="after">after</option></select></td>'
                               +'<td class="form-group" style="padding: 2px;">'
                               +'<input type="text" class="form-control" id="field-value-' + criteriaCount + '"></td>'
                               +'<td class="form-group" style="padding: 2px;">'
                               +'<select class="form-control" id="field-criteria-' + criteriaCount + '">'
                               +'<option value="AND" selected="selected">AND</option><option value="OR">OR'
                               +'</option></select></td><td class="form-group" style="padding: 2px;">'
                               +'<button class="form-control btn btn-info" onclick="addCriteria()" style="width: 45%;">'
                               +'<span class="glyphicon glyphicon-plus"></span> </button>'
                               +'<button class="form-control btn btn-info" onclick="removeCriteria(' + criteriaCount +')" '
                               +'style="width: 45%;" style="padding: 2px; padding-left: 2px;"><span class="glyphicon glyphicon-minus"></span></button></td>';
           $("#filteringForm").append(newRow);
            determineToShowEquality(criteriaCount);
        }

        function remFilter()
        {
            criteriaCount--;

        }

        // This function is courtesy of:
        // http://stackoverflow.com/questions/1584370/how-to-merge-two-arrays-in-javascript-and-de-duplicate-items
        function arrayUnique(array)
        {
            var a = array.concat();
            for(var i=0; i<a.length; ++i) {
                for(var j=i+1; j<a.length; ++j) {
                    if(a[i] === a[j])
                        a.splice(j--, 1);
                }
            }
            return a;
        }

    /***
         * Function:    applyFilter
         * Purpose:     Apply the filters the user has specified to filter data.
         */
        function applyFilter()
        {
            var all_records = [];
            var curr_records = [];
            //var currRecord = 0;
            const BASE_REQUEST_URL = "http://127.0.0.1:8000/api-root/case_list/search/?";
            var next_join = "OR";
            $("#case-list-data").html("");
            for (var i = 0; i <= criteriaCount; i++)
            {
                var request_url = BASE_REQUEST_URL;
                    // Run a query right now on the current criteria and combine it with
                    // the previous results
                    if ($("#field-choice-" + i).val() === "date")
                    {
                        // Determine if less than, greater than, or equals was selected
                        switch($("#field-criteria-" + i).val())
                        {
                            case 'before':
                                request_url += 'date_before=' + convertDateFormat($("#field-value-" + i).val());
                                break;
                            case 'after':
                                request_url += 'date_after=' + convertDateFormat($("#field-value-" + i).val());
                                break;
                            default:
                                request_url += 'date=' + convertDateFormat($("#field-value-" + i).val());
                                break;
                        }
                        curr_records = runQuery(request_url);
                    }
                    // Check for an empty satellite
                    else if ($("#field-choice-" + i).val() === "satellite" && $("#field-value-" + i).val() === "")
                    {
                        if($("#field-value-" + i).val() == "")
                        {
                            request_url +="sat_blank=yes";
                            curr_records = runQuery(request_url);
                        }
                        else
                        {
                            request_url += "satellite__contains" + $("#field-value-" + i).val();
                            curr_records = runQuery(request_url);

                        }
                    }

                    //Check for complainant's name
                    else if ($("#field-choice-" + i).val() === "complainant")
                    {
                        // Run two queries: one on first name, and one on last name
                        request_url += "cn_fn=" + $("#field-value-" + i).val();
                        curr_records = runQuery(request_url);
                        // And run the last name query
                        request_url = BASE_REQUEST_URL + "cn_ln=" + $("#field-value-" + i).val();
                        // Next, combine them with an OR
                        curr_records = combineArraysOR(curr_records, runQuery(request_url));
                    }
                    else
                    {
                        // If no other conditions have been met, just run the query
                        request_url += $("#field-choice-" + i).val() + "=" + $("#field-value-" + i).val();
                        curr_records = runQuery(request_url);
                    }

                    // Determine how to combine all of our arrays depending on the join type selected
                    if (next_join === "OR")
                    {
                        all_records = combineArraysOR(all_records, curr_records);
                    }
                    else
                    {
                        all_records = combineArraysAND(all_records, curr_records);
                    }
                next_join = $("[name=field-join-" + i + "]:selected").val();
            }
            // Now display the result
            filterTable(all_records);
        }

        /***
         * Function:    combineArraysAND
         * Purpose:     Combine two given arrays with an AND operator based on contact log IDs.
         * @param arrayOne - The first array
         * @param arrayTwo - the second array
         * @returns {Array} - the arrays combined with an AND
         */
        function combineArraysAND(arrayOne, arrayTwo)
        {
            var result_array = [];
            for(var i = 0; i < arrayOne.length; i++)
            {
                var found = false;
                for(var j = 0; j < arrayTwo.length && !found; j++)
                {
                    if (arrayOne[i].id === arrayTwo[j].id)
                    {
                        found = true;
                        result_array.push(arrayOne[i]);
                    }
                }
            }

            return result_array;
        }

        /***
         * Function:    combineArraysOR
         * Purpose:     Combine two given arrays with an OR operator based on contact log IDs.
         * @param arrayOne - The first array
         * @param arrayTwo - the second array
         * @returns {Array} - the arrays combined with an OR
         */
        function combineArraysOR(arrayOne, arrayTwo)
        {
            var result_array = arrayOne;

            // Loop through all items in the second array
            for (var i = 0; i < arrayTwo.length; i++)
            {
                var found = false;
                // Check to see if it exists in the first array
                for (var j = 0; j < arrayOne.length && !found; j++)
                {
                    // If it exists, quit looping
                    found = arrayTwo[i].id === arrayOne[j].id;
                }

                // If it wasn't found, add the item to the array
                if (!found)
                {
                    result_array.push(arrayTwo[i]);
                }
            }

            // Return our new results
            return result_array;
        }

        /***
         * Function:    formatDate
         * Purpose:     Given a date in the form YYYY-MM-DD, format and return it in the form DD-MMM-YYYY.
         * @param toFormat
         * @returns {string}
         */
        function formatDate(toFormat)
        {
            var monthNames = [
                "Jan", "Feb", "Mar",
                "Apr", "May", "Jun", "Jul",
                "Aug", "Sep", "Oct",
                "Nov", "Dec"
              ];

            // Grab the year, month, and date
            var year = toFormat.substring(0, 4);
            var monthIndex = parseInt(toFormat.substring(6, 9));
            var date = toFormat.substring(8, 11);

            // Put together the new date and return it
            var toReturn = date + ", " + monthNames[monthIndex - 1] + ". " + year;
            return toReturn;
        }

        /***
         * Function:    filterTable
         * Purpose:     Add new data to the table according to the passed-in data.
         * @param newData - The data to be added.
         */
        function filterTable(newData)
        {
            $("#case-list-data").html("");
            console.log(newData);
            newData.forEach(function(ca, index)
            {
                var id = ca.id;
                var complainant = ca.complainant;
                var caseType = ca.caseType;
                var status = ca.description;
                var date = ca.date;
                var rowToAdd = "<tr><td>" + id + "</td><td>"
                                + complainant + "</td><td>"
                                + caseType + "</td><td>"
                                + status + "</td><td>"
                                + date + '</td><td>'
                                + '<a href="http://127.0.0.1:8000/addCase/' + id + '">[View]</a></td><td> '
                                + '<a href="http://127.0.0.1:8000/addCase/edit/' + id + '">[Edit]</a></td></tr>'
                                + '<a href="http://127.0.0.1:8000/grievance/' + id + '">[Add Award]</a></td>';

                $("#case-list-data").append(rowToAdd);
            });
        }

        /***
         * Function:    removeCriteria
         * Purpose:     Removes criteria with the given number from the table.
         * @param num - The criteria ID/row to remove.
         */
        function removeCriteria(num)
        {
            // Remove the entire row of filtering
            $("#filter-entry-" + num).remove();

            // Decrement the IDs of inputs that occur after
            for (var i = num + 1; i <= criteriaCount; i++)
            {
                // Decrement filter-entry
                $("#filter-entry-" + i).attr('id', 'filter-entry-' + (i - 1));
                // Decrement field-choice
                $("#field-choice-" + i).attr('id', 'field-choice-' + (i - 1));
                // Decrement field-criteria
                $("#field-criteria-" + i).attr('id', 'field-criteria-' + (i - 1));
                // Decrement field-value
                 $("#field-value-" + i).attr('id', 'field-value-' + (i - 1));
                // Decrement field-join
                $("#field-join-" + i).attr('id', 'field-join-' + (i - 1));
                // Change the onclick value + ID of the onclick button
                $("#remove-" + i).attr('id', 'remove-' + (i - 1));
                $("#remove-" + (i - 1)).attr('onclick', 'removeCriteria(' + (i - 1) + ')');
            }

            // Decrement criteria count
            criteriaCount--;
        }

        /***
         * Function:    determineToShowEquality
         * Purpose:     Determine whether or not to show the equality select box for a specific field based
         *              on its current value.
         * @param elem - the element to look at
         */
        function determineToShowEquality(elem)
        {

            if ($("#field-choice-" + elem).val() === "date")
            {
                // Show the entire div that the equality selector is in - which happens
                // to be the parent of the field-choice select element
               // $("#field-criteria-" + elem).parent();
            }
            else
            {
                $("#field-criteria-" + elem).parent().prop("disabled", "disabled");
            }
        }

        // This function is courtesy of:
        // http://stackoverflow.com/questions/17445585/javascript-convert-string-into-date-with-format-dd-mmm-yyyy-i-e-01-jun-2012
        function convertDateFormat(enteredDate)
        {
            var dateToReturn = new Date(enteredDate);
            // Convert the date to a string in the form DD/MM/YYYY, and then
            // change all the slashes to hyphens
            return dateToReturn.toLocaleDateString("en-CA");
        }

        $(document).ready(function()
        {
            // Hide the equality selector for the first criteria by default
            determineToShowEquality(0);
            $("#rem").on("click", function()
            {
                $(this).parent("tr:first").remove()
            });
        })

    </script>
{% endblock %}
{% block content %}
<body>
    <div class="container">
        <h2>List of Cases</h2>
        <div id="add" style="text-align: center;">
            <a href="{%  url 'add_case:case_add' %}">Add New Case</a>
        </div>
        <div id="filter" class="panel panel-info" style="padding:0;">
            <div href="#filter_ops" class="panel panel-heading col-sm-12" data-toggle="collapse">
                <h3 class="panel-title">Filter Options
                <span class="glyphicon glyphicon-chevron-down" style="float:right;"></span>
                </h3>
            </div>
            {# Below is the div that contains the filter #}
            <div id="filter_ops" class="panel panel-body collapse">
            <table class="table form-group" id="filteringForm" style="text-align: center;">{# style="border: 0px !important;" #}
                <thead>
                    <tr class="info">
                        <th>Field</th>
                        <th>Criteria</th>
                        <th>Value</th>
                        <th colspan="2">Additional Filters</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="filter-entry-0">
                        {# Field to filter #}
                        <td class="form-group" style="padding: 2px;">
                            <select class="form-control" id="field-choice-0" onchange="determineToShowEquality(0)">
                                <option value="id">ID</option>
                                <option value="lead">Lead</option>
                                <option value="complainant">Complainant</option>
                                <option value="campus">Campus</option>
                                <option value="satellite">Satellite</option>
                                <option value="school">School</option>
                                <option value="program">Program</option>
                                <option value="department">Department</option>
                                <option value="caseType">Case Type</option>
                                <option value="status">Case Status</option>
                                <option value="additionalMembers">Additional Members</option>
                                <option value="additionalNonMembers">Additional Non-Members</option>
                                <option value="date">Date</option>
                            </select>
                        </td>
                        {# Filter Criteria #}
                        <td class="form-group" style="padding: 2px;">
                            <select class="form-control" id="field-criteria-0">
                                <option value="before">before</option>
                                <option value="ee" selected>equals</option>
                                <option value="after">after</option>
                            </select>
                        </td>
                        {# Value we're filtering on #}
                        <td class="form-group" style="padding: 2px;">
                            <input type="text" class="form-control" id="field-value-0" />
                        </td>
                        {# Adding an additional filter, and specifying the join #}
                        <td class="form-group" style="padding: 2px;">
                            <select class="form-control" id="field-join-0">
                                <option value="AND" selected="selected">AND</option>
                                <option value="OR">OR</option>
                            </select>
                        </td>
                        <td class="form-group" style="padding: 2px;">
                            <button class="form-control btn btn-info" onclick="addCriteria()" style="width: 50%;">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <span style="width:50%;"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <input type="button" class="form-control btn btn-info col-sm-1" onclick="applyFilter()"
                       value="Filter" style="width:10%" />
            </div>




            </div>
        </div>
        <div >
            {% if object_list.count != 0 %}
                <table border="1" class="table table-bordered table-striped" id="case-list-data">
                <thead>
                    <th style="text-align:center;">ID</th>
                    <th style="text-align: center;">Complainant</th>
                    <th style="text-align:center;">Case Type</th>
                    <th style="text-align:center;">Status</th>
                    <th style="text-align:center;">Date Created</th>
                    <th colspan="3" style="text-align:center;">Action</th>
                </thead>
                <tbody>
                {% for case in object_list %}
                </tbody>
                    <tr>
                        <td style="text-align:center;">{{ case.id }}</td>
                        <td style="text-align:center;">{{ case.complainant }}</td>
                        <td style="text-align:center;">{{ case.get_caseType_display }}</td>
                        <td style="text-align:center;">{{ case.get_status_display }}</td>
                        <td style="text-align:center;">{{ case.date }}</td>
                        <td style="text-align:center;"><a href="{% url 'add_case:case_edit' case.pk %}">[Edit Case]</a></td>
                        <td style="text-align:center;"><a href='{% url "add_case:case_detail" case.pk %}'>[View Detail]</a></td>
                        <td style="text-align:center;"><a href='{% url "grievance_award_creation:create_grievance_award" case.pk %}'>[Add Award]</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% elif object_list.count == 0 %}
                <p>No cases exist.</p>
            {% endif %}
        </div>

        <div id="add" style="text-align: center;">
            <a href="{%  url 'add_case:case_add' %}">Add New Case</a>
        </div>
    </div>
</body>
{% endblock %}
