{% extends 'base.html' %}
{% load bootstrap3 %}
{% block metadata %}
    <title>Case Detail</title>
{% endblock %}

{% block content %}
{#    <h1>Field list</h1>#}

    {# TODO: This seems to work - we need to loop through 'fields', not 'form' as suggested online #}
    {# This makes sense though, as we're putting items into the fields variable in the forms.py file. #}
    {# Ex. self.fields['satellite'].widget = .... #}
{#    {% for field in fields %}#}
{#      {{ field}} <br />#}
{#    {% endfor %}#}
    {# TODO: Experimental for loop   #}
{#        {% for field in form %}#}
{#        {{ i }}#}
{#        {% endfor %}#}
    {# TODO: make the context render a key value pair (use for loop yield) #}
{#    <h1>End Field List</h1>#}

    <div class="container">
        <h2>Case #{{ object.id }} - {{ object.get_caseType_display }}</h2>
        <h3>General Information</h3>
        <table class="table table-striped">
            <tr>
                <th>Lead</th>
                <td>{{ object.lead }}</td>
            </tr>
            <tr>
                <th>Complainant</th>
                <td><a href="{% url 'add_member:member_detail' object.complainant_id %}">{{ object.complainant }}</a></td>
            </tr>
            <tr>
                <th>Campus</th>
                <td>{{ object.campus }}</td>
            </tr>
            {% if object.satellite %}
            <tr>
                <th>Satellite</th>
                <td>{{ object.satellite }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>School</th>
                <td>{{ object.get_school_display }}</td>
            </tr>

            {% if object.program %}
            <tr>
                <th>Program</th>
            <td>{{ object.program }}</td>
            </tr>
            {% endif %}

            <tr>
                <th>Department</th>
            <td>{{ object.get_department_display }}</td>
            </tr>

            <tr>
                <th>Case Type</th>
            <td>{{ object.get_caseType_display }}</td>
            </tr>

            <tr>
                <th>Status</th>
            <td>{{ object.get_status_display }}</td>
            </tr>

            <tr>
                <th>Date Created</th>
                <td>{{ object.date }}</td>
            </tr>

{#            <tr>#}
{#                <th>Additional Members</th>#}
{#                <td>{{ object.additionalNonMembers }}</td>#}
{#            </tr>#}

        </table>


{# TODO: Copy paste after#}
            {% if object.additionalMembers %}
                <h3>Members Involved</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Member ID</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for curr_member in object.additionalMembers.all %}
                        <tr>
                            <td>{{ curr_member.firstName }} {{ curr_member.lastName }}</td>
                            <td>{{ curr_member.memberID }}</td>
                            <td><a href="{% url 'add_member:member_detail' curr_member.pk %}">[Link]</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        {% if object.grievanceaward %}
            <h3>Grievance Award</h3>
                  {% include 'grievance_award_creation/grievanceaward_actual_detail.html'  %}
        {% endif %}
{#        {% endblock %}#}
        {% buttons %}
        <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />
        {% endbuttons %}
        <hr>
        <center>
            <a href="{% url 'add_case:case_edit' object.id %}">Edit this Case</a> |
            <a href="{% url 'add_case:case_add' %}">Add new Case</a> |
            <a href="{% url 'add_case:case_list' %}">View all Cases</a>
        </center>

    </div>
{% endblock %}