{% extends 'base.html' %}

{% block metadata %}
    <title>Case Detail</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="case_info panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Case Information</h3>
            </div>
            <div class="panel-body">
                <p>Lead: {{ object.lead }}</p>
                <p>Case Type: {{ object.get_caseType_display }}</p>
                <p>Status: {{ object.status }}</p>
                <p>Complainant: <em>{{ object.complainant }}</em></p>


                {% if object.get_caseType_display != "GRIEVANCES - INDIVIDUAL" %}
                    <div class="panel panel-info">
                        <div class="panel panel-heading">
                              <p>Members </p>
                        </div>

                    {% include 'add_case/case_members.html' %}

                    </div>
                {% endif %}
            </div>
        </div>


        {% if object.grievanceaward %}

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Grievance Award</h3>
              </div>
              <div class="panel-body">
                  {% include 'grievance_award_creation/grievanceaward_actual_detail.html'  %}
              </div>
            </div>


        {% endif %}



        <a href="{% url 'add_case:case_edit' object.pk %}">Edit This Case</a><br />
        <a href="{%  url 'add_case:case_add' %}">Add New Case</a><br />
        <a href="{%  url 'add_case:case_list' %}">View All Cases</a>

    </div>
{% endblock %}