<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case Detail</title>
</head>
<body>
    <h1>Lead: {{ object.lead }}</h1>
    <p>Complainant: {{ object.complainant }}</p><br>

    <h3>Members: </h3>
    {%  for members in object.additionalMembers.all %}
        <p>
            <strong>{{ members.memberID }}</strong>: {{ members.firstName }}
        </p>
    {% empty %}
        <p>
            No members associated
        </p>
    {% endfor %}

    <a href="{%  url 'add_case:case_add' %}">Add New Case</a></br>
    <a href="{%  url 'cases:case_list' %}">View All Cases</a>
</body>
</html>