{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of Meetings</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
</head>
<body>
    <h2>List of Meetings</h2>
    <a href="{% url 'meeting:create_meeting' %}">Create a New Meeting</a><br />
    <table border="2" class="table table-bordered" style="width:50%;">
        <thead>
            <th>ID</th>
            <th>Details</th>
            <th>Edit</th>
        </thead>

        <tbody>
        {% for meeting in object_list %}
            <tr>
                <td>{{ meeting.id }}</td>
                <td><a href="{% url 'meeting:meeting_detail' meeting.pk %}">[View Meeting Detail]</a></td>
                 <td><a href="{% url 'meeting:meeting_edit' meeting.pk %}">[Edit Meeting]</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

</body>
{% include 'footer.html' %}
</html>