{% extends 'base.html' %}
{%  block metadata %}
    <title>Meeting</title>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'spfa_mt/libraries/select2/select2.min.js' %}"></script>
    <link  rel="stylesheet" type="text/css" href="{% static 'spfa_mt/libraries/select2/select2.min.css' %}" />
    {% load bootstrap3 %}
    <script type="text/javascript">
            $(document).ready(function() {

                //Search functionality for members attending a committee
                var members = $(".js-members_attending");

              members.select2({
                ajax: {
                    //a list of all members
                    url: "/api-root/members_list/search/", //URL of the REST API for querying the members
                    dataType: 'json',
                    data: function(params)
                    {
                        return {
                            q: params.term, //The term to be sent
                            offset: (params.page ) * 10 //Which page of the REST page will be loaded
                        }
                    },
                    processResults: function (data, params) {
                        return {
                            results: data.results,
                            pagination: {
                                more: true //enables the pagination feature
                            }
                        }
                   },
                }
              });


                //Search functionality for committees
                var committees = $(".js-committee");

              committees.select2({
                ajax: {
                    //a list of all members
                    url: "/api-root/committee_list/search/", //URL of the REST API for querying the members
                    dataType: 'json',
                    data: function(params)
                    {
                        return {
                            q: params.term, //The term to be sent
                            offset: (params.page ) * 10 //Which page of the REST page will be loaded
                        }
                    },
                    processResults: function (data, params) {
                        return {
                            results: data.results,
                            pagination: {
                                more: true //enables the pagination feature
                            }
                        }
                   },
                }
              });

            });//end ready
            </script>
{% endblock %}

{% block content %}
    {% if form.instance.id %}
            <h2><strong>Edit Meeting</strong></h2>
        {% else %}
            <h2><strong>Create a Meeting</strong></h2>
        {% endif %}
    <form action="" method="POST" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_form_errors form %}
        {% buttons %}
            <center>
            <button class="btn btn-primary" type="submit" style="width: 49%">Submit</button>
            <button class="btn btn-warning" type="reset" style="width: 49%">Reset</button>
            </center>
        {% endbuttons %}
    </form>
{% endblock %}