<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Person</title>

    <h2>LIST OF CASES</h2>

    <table border="2">
        <thead>
            <th>name</th>
            <th>Action1</th>
            <th>Action2</th>
        </thead>
        {% for case in object_list %}
             <tr>
                <td>{{ case.lead }}</td>
                <td><a href="{% url 'cases:case_update' case.pk %}">[Add Member]</a></td>
                <td><a href="{% url 'cases:case_detail' case.pk %}">[View Detail]</a></td>
            </tr>
         {% empty %}
        <tr>NO CASES YET</tr>
        {% endfor %}
    </table>

</head>
<body>
    <a href="{%  url 'add_case:case_add' %}">Add New Case</a></br>
</body>
</html>