{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Contact Log List</title>
    <style>
         thead th, .center {
        text-align: center;
    }
    </style>
</head>
<body>
    <div class="container">
        <h2>List of Contact Logs</h2>
{#        <a href="{% url 'contact_log_creation:contact_log_add' %}">Create a New Contact Log</a>#}
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Related Member</th>
                <th>Date</th>
                <th class="col-md-5">Description</th>
                <!--<th>Edit Link</th>-->
                <th>Contact Code</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
                {% for curr_cl in object_list %}
                    <tr>
                        <td class="center">{{ curr_cl.pk }}</td>
                        <td class="center">{{ curr_cl.member }}</td>
                        <td class="center">{{ curr_cl.date }}</td>
                        <td>{{ curr_cl.description }}</td>
                        <td class="center"> {{  curr_cl.get_contactCode_display }}</td>
                        <td class="center"><a href="{% url 'contact_log_creation:details' curr_cl.pk %}">[View]</a></td>
                        <td class="center"><a href="{% url 'contact_log_creation:contact_log_edit' curr_cl.pk %}">[Edit]</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

         <center>
            <a href="{% url 'contact_log_creation:contact_log_add' %}">Create New Contact Log</a>
         </center>
        <br />
    </div>
</body>
{% include 'footer.html' %}
</html>