{% extends 'base.html' %}
{%  load bootstrap3 %}

{% block metadata %}
    <title>Contact Log Creation</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <style>
        .sub-heading {
            margin: 0 0 0.3em 0;
        }

        .main-heading {
            margin: 0;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function()
        {
            // These next lines will ensure that the member select element
            // is sized correctly. It's run with a delay, because other
            // JS code seems to be changing the size settings on us
            // if we run this code as soon as the page loads.
            setTimeout(function()
            {
                $("#member_select").next().css("width", "100%");
            }, 100);

            var members = $(".js-member");

              members.select2({
                ajax: {
                    //a list of all members
                    url: "/api-root/members_list/search/", //URL of the REST API for querying the members
                    dataType: 'json',
                    data: function(params)
                    {
                        return {
                            q: params.term, //The term to be sent
                            offset: (params.page ) * 10, //Which page of the REST page will be loaded
                        }
                    },
                    processResults: function (data, params) {
                        return {
                            results: data.results,
                            pagination: {
                                more: true //enables the pagination feature
                            }
                        }
                   },
                }
              });
        });
    </script>
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="main-heading">Contact Log</h1>
        {% if form.instance.id %}
        {%  comment %}
        These next few lines are used to determine whether
        a create or modify heading should be shown
        {% endcomment %}
        <h3 class="sub-heading"><i><strong>Modify</strong></i></h3>
        {% else %}
        <h3 class="sub-heading"><i><strong>Creation</strong></i></h3>
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if form.instance.id %}
                {%  comment %}
                These next few lines are used to determine whether
                a create or modify button should be shown
                {% endcomment %}
                <button class="btn btn-success" type="submit">Modify Contact Log</button>
            {% else %}
                <button class="btn btn-success" type="submit">Create Contact Log</button>
            {% endif %}
            <button class="btn btn-warning" type="reset">Reset</button>
        </form>
    </div>
{% endblock %}