{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block metadata %}
<link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">
    <style>
        th, td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
<div>
    <div hidden id="endpoint" value="{{ report_endpoint }}"></div>



    <div class="container">
        <h2>Contact Log Report Generation</h2>
        <div class="row">
            <div id="filter_widget" class="col-lg-3">
                <div>
                    Filter By:<br>
                    <input type="radio" onclick="d_filter_method(event)"
                           name="dradio" value="bydate" checked> Specific Date &nbsp;
                    <input type="radio" onclick="d_filter_method(event)" name="dradio"
                           value="byrange"> Range<br>
                    <div id="bydate">
                        Date: <br><input type="date" id="sdate" name="date"><br>
                    </div>
                </div>
                <form onsubmit="filter(event)" id="filter_form">
                    ID: <br><input type="text" id="fname" name="id"><br>
                    <div id="byrange" hidden>
                        Start Date: <br><input type="date" id="sdate" name="date__gte"><br>
                        End Date: <br><input type="date" id="edate" name="date__lte"><br>
                    </div>
                    Contact Code: <br><input type="text" id="ccode" name="contactCode"><br>
                    Description: <br><input type="text" id="description" name="description__icontains"><br>
                <button type="submit" class="btn btn-primary">Filter</button>

                <button class="btn btn-success" onclick="printJS('report_container', 'html')" id="prompt_section">
                    Generate Report</button>
                </form>
            </div>

{#            <div id="prompt_section">#}
{#                <button class="btn-default" onclick="printJS('report_container', 'html')">Generate Report</button>#}
{#            </div>#}

            <div class="col-lg-9" id="report_container">
                <div id="report-info"></div>
                <table id="data-table" class='table' border="2" align="center"><!----- INSERT TABLE ------></table>
            </div>


        </div>


    </div>




</div>
{% endblock %}

{% block scripts %}
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script type="text/javascript">
    /**
     * Purpose: Does an AJAX request to the server (specifically to the DRF endpoint)
     * @param e - event - used cancel the default form behavior.
     *            DOCS: https://developer.mozilla.org/en/docs/Web/API/Event/preventDefault
     */
    var data_response;
    var ccode_dict;

    var ccode_dict = {"E": "Email", "P": "Phone", "F": "Face to face", "M": "Meeting", "T": "Text"};
    var casetype_dict = {'7': "GRIEVANCES - INDIVIDUAL",
                    '6':"GRIEVANCES - GROUP",
                    '5':"GRIEVANCES - POLICY",
                    '4':"GRIEVANCES - CLASSIFICATION",
                    '3':"GRIEVANCES - COMPLAINTS",
                    '2':"DISABILITY CLAIMS",
                    '1':"ARBITRATION",
                    '0':"COMPLAINT" }

    function filter(e) {
        e.preventDefault();
        var xhr = new XMLHttpRequest();
        var url= $("form").serialize();
        if( $("#description").val() == ""){

            url = url.slice(0, -24)
        }
        url += "&limit=100000"; 
        xhr.open('GET', $("#endpoint").attr("value") +"?" + url , true); // buil the url query
        xhr.onload = function () {
          // Request finished. Do processing here.
            data_response = JSON.parse(this.responseText);
            table_display();
        };
        console.log($("form").serialize());
        xhr.send(null); // send the request
    }

    // Display the table representation of the pdf here.
    function table_display(){
        // Clear report header info
        $("#report-info").html("");
        $("#report-info").html("<h3>Contact Log Report</h3><h5>Report generated on " + (new Date()) + "</h5>");


        var dtable = $("#data-table");
        dtable.empty();
        var ele = $('<thead></thead>');
        ele.append($('<th>ID</th>'));
        ele.append($('<th>Date</th>'));
        ele.append($('<th>Description</th>'));
        ele.append($('<th>Contact Code</th>'));
        ele.append($('<th>Case</th>'));
        dtable.append(ele);
        var tbody = $('<tbody></tbody>');
        data_response.results.forEach(function (val) {
            var ele = $('<tr></tr>');
            ele.append($("<td></td>").text(val.id));
            ele.append($("<td></td>").text(val.date));
            ele.append($("<td></td>").text( (val.description != null)? val.description: "" ));
            ele.append($("<td></td>").text(ccode_dict[val.contactCode]));;
            if( val.relatedCase ){
                ele.append($("<td></td>").html(" Lead: " + val.relatedCase.lead + "<br/> "+
                                            "Campus: " + val.relatedCase.campus + "<br /> " +
                                            "Case Type: " + casetype_dict[val.relatedCase.caseType] + "<br /> "));
            }else {
                ele.append($("<td></td>").text(""));
            }


            tbody.append(ele);
        });
        dtable.append(tbody);
    }

    /**
     * Function for hiding/showing the date fields
     * @param e - event
     */
    function d_filter_method(e) {
        var selected = e.target.defaultValue;
        var to_hide = (selected == "byrange") ? "bydate" : "byrange";
        $("#" + to_hide).hide();
        $("#" + selected).show();
        // TODO: Clear data later
    }



</script>
{% endblock %}