{% include 'nav.html' %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Detail</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <h2>Event #{{ object.pk }}: {{ object.name }}</h2>
        <h3>General Information</h3>
        <table class="table table-striped">
            <tr>
                <th>Event Name</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ object.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ object.date|date:"d, M. Y" }}</td>
            </tr>
        </table>

        {% if object.members.all %}
        <h3>Attending Members</h3>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Member Name</th>
                <th>Member ID</th>
                <th>Member Link</th>
            </tr>
        </thead>
        <tbody>
        {% for member in object.members.all %}
            <tr>
                <td>{{ member.firstName }} {{ member.lastName }}</td>
                <td>{{ member.memberID }}</td>
                <td><a href="{% url 'add_member:member_detail' member.pk %}">[Link]</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {% endif %}
    {% buttons %}
    <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />
    {% endbuttons %}
    <hr>
    <center>
        <a href="{% url 'create_event:event_edit' object.pk %}">Edit this Event</a> |
        <a href="{%  url 'create_event:add_event' %}">Add new Event</a> |
        <a href="{%  url 'create_event:list_event' %}">View all Events</a>
    </center>
    </div>
</body>
{% include 'footer.html' %}
</html>