{% include 'nav.html' %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Detail</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
   <style>
        #attending_members_header {
            padding-right: 0;
            padding-left: 0;
            border: none;
            background-color: transparent;
            color: rgb(51, 51, 51);
        }

        #attending_members_h3 {
            margin: 0;
        }

        .panel-info {
            padding: 0;
            border: none;
        }

        #attending_members {
            padding: 0;
        }
    </style>
    <script>
        // These next few lines of code are courtesy of:
        // http://stackoverflow.com/questions/19024218/bootstrap-3-collapse-change-chevron-icon-on-click/
        $(document).ready(function()
        {
            $("#attending_members").on("shown.bs.collapse", function()
            {
               $("#attending_members_chevron").addClass('glyphicon-chevron-up').removeClass('glyphicon-chevron-down');
            });

            $('#attending_members').on('hidden.bs.collapse', function()
            {
                $("#attending_members_chevron").addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-up');
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h2>Event #{{ object.pk }}: {{ object.name }}</h2>
        <h3>General Information</h3>
        <table class="table table-striped">
            <tr>
                <th>Event Name</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ object.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ object.date|date:"d, M. Y" }}</td>
            </tr>
        </table>

        {% if object.members.all %}
        <div class="panel panel-info col-sm-12">
            <div href="#attending_members" class="panel panel-heading col-sm-12" data-toggle="collapse" id="attending_members_header">
            <h3 id="attending_members_h3">Attending Members<span class="glyphicon glyphicon-chevron-down" id="attending_members_chevron" style="float: right;"></span></h3>
            </div>
            <div class="panel-body collapse" id="attending_members">
{#        <h3></h3>#}
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Member Name</th>
                <th>Member ID</th>
                <th>Member Link</th>
            </tr>
        </thead>
        <tbody>
        {% for member in object.members.all %}
            <tr>
                <td>{{ member.firstName }} {{ member.lastName }}</td>
                <td>{{ member.memberID }}</td>
                <td><a href="{% url 'add_member:member_detail' member.pk %}">[Link]</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
        </div>
        {% endif %}
    {% buttons %}
    <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />
    {% endbuttons %}
    <hr>
    <center>
        <a href="{% url 'create_event:event_edit' object.pk %}">Edit this Event</a> |
        <a href="{%  url 'create_event:add_event' %}">Add new Event</a> |
        <a href="{%  url 'create_event:list_event' %}">View all Events</a>
    </center>
    </div>
</body>
{% include 'footer.html' %}
</html>