<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Award Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    {% load bootstrap3 %}
</head>
<body>
    <h1><strong>Award #{{ object.id }}: {{ object.description }}</strong></h1>
    <h3>Award Amount: ${{ object.awardAmount }}.00</h3>

    {% if object.awardedMember %}
        <h3>Award Member: {{ object.awardedMember }}</h3>
        <h3>Award Recipient: {{ object.awardRecipient}}</h3>
        <h3>Award Type: {{ object.awardType }}</h3>
        <h3>Year Awarded: {{ object.yearAwarded }}</h3>
    {% endif %}

    <br /><br />
    {% buttons %}
    <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" style="width:15%;" />
    {% endbuttons %}
    <hr>
    <a href="{% url 'award:edu_edit' object.id %}">[Edit Educational Award]</a>
    <a href="{% url 'award:edu_create' %}">[Create New Educational Award]</a>
    <a href="{% url 'award:edu_list' %}">[View List of Educational Award]</a>
</body>
</html>