{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block metadata %}
    <script src="{% static 'spfa_mt/libraries/select2/select2.min.js' %}"></script>
    <link  rel="stylesheet" type="text/css"
           href="{% static 'spfa_mt/libraries/select2/select2.min.css' %}" />
    {% if form.instance.id %}
        <title>Update Education Award</title>
    {% else %}
        <title>Create Education Award</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'spfa_mt/select2_responsive.css' %}" />
{% endblock %}

{% block scripts %}
        <script type="text/javascript">
            $(document).ready(function() {

                //Search functionality for members attending a committee
                var members = $(".js-eduAward");

              members.select2({
                ajax: {
                    //a list of all members
                    url: "/api-root/members_list/search/", //URL of the REST API for querying the members
                    dataType: 'json',
                    data: function(params)
                    {
                        return {
                            q: params.term, //The term to be sent
                            offset: (params.page ) * 10 //Which page of the REST page will be loaded
                        }
                    },
                    processResults: function (data, params) {
                        return {
                            results: data.results,
                            pagination: {
                                more: true //enables the pagination feature
                            }
                        }
                   },
                }
              });
            });//end ready

            function resetSelect2(){
                $('span.select2-selection__rendered').empty();
                $("ul.select2-selection__rendered").empty();
            }
            </script>
{% endblock %}

{% block content %}
    <div class="container">
        {# Same deal as with the page title above #}
        {% if form.instance.id %}
            <h2>Update Education Award</h2>
        {% else %}
            <h2>Create Education Award</h2>
        {% endif %}
        <form class="form form-group" action="" method="POST" enctype="multipart/form-data" onreset="resetSelect2()">
            {% csrf_token %}
            {# With these next two lines enabled, errors seem to be displayed twice. It's something worth looking into #}
            {# in another story. #}
    {#        {% bootstrap_form_errors form type='fields' %}#}
    {#        {% bootstrap_form_errors form type='non_fields' %}#}
            {% bootstrap_form form %}
            {% buttons %}
                {% if form.instance.id %}
                    <input type="submit" class="btn btn-primary" name="submit" value="Update Award" />
                {% else %}
                    <input type="submit" class="btn btn-primary" name="submit" value="Create Award"/>
                    <input type="reset" class="btn btn-warning" name="reset" value="Reset" />
                {% endif %}
            {% endbuttons %}
        </form>

        <hr />
                <a href="{% url 'award:edu_list' %}">View List of Educational Awards</a>
    </div>
{% endblock %}