{%  load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Educational Award List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h2>List of Professional Development Funding</h2>
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>Award Name</th>
                <th>Details</th>
                <th>Edit</th>
            </thead>

            <tbody>
            {% for edaward in object_list %}

                <tr>
                    <td>{{ edaward.id }}</td>
                    <td>{{ edaward.description}}</td>
                    <td><a href="{% url 'award:edu_detail' edaward.pk %}">[View PD Funding Detail]</a></td>
                    <td><a href="{% url 'award:edu_edit' edaward.pk %}">[Edit PD Funding]</a></td>
                </tr>
            {% empty %}
                <tr>NO AWARDS YET</tr>
            {% endfor %}
            </tbody>

        </table>
        <hr>
        <a href="{% url 'award:edu_create' %}">[Create New Educational Award]</a>
    </div>
</body>
</html>