{% extends 'base.html' %}

{% block metadata %}
    <title>Educational Award List</title>
{% endblock %}


{% block content %}
<div class="container">
    <h2>Educational Awards</h2>
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>Award Name</th>
                <th>Details</th>
                <th>Update</th>
            </thead>

            <tbody>
            {% for edaward in object_list %}

                <tr>
                    <td>{{ edaward.id }}</td>
                    <td>{{ edaward.description}}</td>
                    <td><a href="{% url 'award:edu_detail' edaward.pk %}">Details</a></td>
                    <td><a href="{% url 'award:edu_edit' edaward.pk %}">Update</a></td>
                </tr>
            {% empty %}
                <tr>NO AWARDS YET</tr>
            {% endfor %}
            </tbody>

        </table>
        <hr>
        <center>
            <a href="{% url 'award:edu_create' %}">[Create New Educational Award]</a>
        </center>
    </div>
{% endblock %}