{% include 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Committee Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <h2>Committee: {{ object.name }}</h2>
    <!-- Note: this isn't the most ideal (not great if other statuses are implemented)
    however it works for what we need. -->
    <h3>Status: {% if not object.status == 1 %}Inactive{% else %}Active{% endif %}</h3>
    <a href="{% url 'add_com:committee_edit' object.pk %}">Edit This Committee</a><br />
    <a href="{%  url 'add_com:committee_add' %}">Add New Committee</a><br />
    <a href="{%  url 'add_com:committee_list' %}">View All Committees</a>
</body>
{% include 'footer.html' %}
</html>