{% extends 'base.html' %}

{%  load bootstrap3 %}

{% block metadata %}
    <title>Create a Committee</title>
{% endblock %}

{% block content %}
{% if form.instance.id %}
    <h2><strong>Edit Committee</strong></h2>
{% else %}
    <h2><strong>Create A New Committee</strong></h2>
{% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            {% if form.instance.id %}
                <input type="submit" class="btn btn-primary" name="submit" value="Update Committee" />
            {% else %}
                <input type="submit" class="btn btn-primary" name="submit" value="Create Committee" />
            {% endif %}
            <input type="reset" class="btn btn-warning" name="reset" value="Reset" />
            {% endbuttons %}
        <a href="{%  url 'add_com:committee_list' %}">View All Committees</a>
    </form>
{% endblock %}