{% extends 'base.html' %}


{% block metadata %}

    <title>Committees</title>
{% endblock %}


{% block content %}
    <div class="container">
        <h2>List of Committees</h2>
        <a href="{%  url 'add_com:committee_add' %}">Add New Committee</a><br />
        <table border="1" table class="table table-bordered" style="width:50%; text-align:center;">
            <thead>
                <th style="text-align:center;">Name</th>
                <th colspan="2" style="text-align:center;">Action</th>
            </thead>
            <tbody>
            <!-- show this if there are committees existing in the DB -->
            {% for committee in object_list %}
            </tbody>
                <tr>
                    <td>{{ committee.name }}</td>
                    <td>
                        <!-- Link to committee details, will show meeting info at a later date? -->
                        <a href='{% url "add_com:committee_detail" committee.pk %}'>[View Detail]</a>
                    </td>
                    <td>
                        <a href='{% url "add_com:committee_edit" committee.pk %}'>[Edit Committee]</a>
                    </td>
                </tr>
            <!-- only appears if no committees exist in the DB -->
            {% empty %}
                <tr>(No committees yet.)</tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}