<!-- This will apply Bootstrap formatting to error messages re: Committee name -->
{% if form.name.errors %}
        <ul class="list-unstyled">
            {% for error in form.name.errors %}
            <li class="list-group-item list-group-item-danger"><strong>{{ error }}</strong></li>
            {% endfor %}
        </ul>
    <!-- This will apply Bootstrap formatting to error messages re: Committee status -->
    {% elif form.status.errors %}
        <ul class="list-unstyled">
            {% for error in form.status.errors %}
            <li class="list-group-item list-group-item-danger"><strong>{{ error }}</strong></li>
            {% endfor %}
        </ul>
    <!-- This will apply Bootstrap formatting to error messages that aren't field related,
     such as when you try to muck with the code before clicking 'Create'-->
    {% elif form.non_field_errors %}
        <ul class="list-unstyled">
            {% for error in form.non_field_errors %}
            <li class="list-group-item list-group-item-danger"><strong>{{ error }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
<!-- This will apply Bootstrap formatting to success messages re: Committee creation -->
{% if messages %}
    <ul class="list-unstyled">
        {% for message in messages %}
        <li class="list-group-item list-group-item-success">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<!-- show labels and fields for the Committee name and status -->
<p>{{ form.name.label_tag }}{{ form.name }}</p>
<p>{{ form.status.label_tag }}{{ form.status }}</p>