<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Log Created Successfully</title>
</head>
<body>
    <h2>Contact log has been successfully created!</h2>
    <table>
    <tr>
        <th>Member Id</th>
        <th>Date</th>
        <th>Description</th>
    </tr>

    {% for log in object_list %}
    <tr>
        <td>{{ log.memberID}}</td>
        <td>{{ log.date}}</td>
        <td>{{ log.description}}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>