<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Grievance Awards</title>
</head>
<body>
    <h2>List of Grievance Awards</h2>
    <table border="2">
        <thead>
            <th>ID</th>
            <th>Details</th>
            <th>Edit</th>
        </thead>

        <tbody>
        {% for award in object_list %}
            <tr>
                <td>{{ award.id }}</td>
                <td><a href="{% url 'grievance_award_creation:grievance_award_actual_detail' award.pk %}">[View Award Detail]</a></td>
                <td><a href="{% url 'grievance_award_creation:grievance_award_edit' award.pk %}">[Edit Grievance Award]</a></td>
            </tr>
        {% empty %}
            <tr>NO AWARDS YET</tr>
        {% endfor %}
        </tbody>

    </table>

</body>
</html>