{% block content %}
    <body>
        <p id="award">Award ID: {{ grievance_award.id }}</p>
        <p>Recipient: {{ grievance_award.recipient }}</p>
        <p>Grievance Type: {{ grievance_award.grievanceType }}</p>
        <p>Award Amount: {{ grievance_award.awardAmount }}</p>
        <p>Description: {{ grievance_award.description }}</p>
        <p>Date: {{ grievance_award.date }}</p>
{#        <p>Date: {{ grievance_award.grievance_award|date:"d, M. Y" }}</p>#}
        {% if grievance_award.file_name %}
            <p>Document: <a id="download" target="_blank" href="../../media/grievance/{{ grievance_award.file_name }}">{{ grievance_award.file_name }}</a></p>
            <p>Document Description: {{ grievance_award.file_desc }}</p>
            <p>Document Upload Date: {{ grievance_award.file_date_uploaded|date:"d, M. Y" }}</p>
        {% endif %}
        <input type="button" value="Back" onclick="window.history.back()" />
        <br>
    </body>
{% endblock %}
