{% include 'nav.html' %}
{%  load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grievance Award Detail</title>
   </head>
<body>
    <h2>Grievance Award Creation</h2>
    <center>
        <p>Success! Grievance number {{ grievance_award.pk }} has been created!</p>
        {%  buttons %}
            <input type="button" value="Back" class="btn btn-primary" onclick="window.history.back()" />
        {%  endbuttons %}
    </center>
</body>
{% include 'footer.html' %}
</html>