<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LOADS ALL BOOTSTRAP FILES-->
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    {% bootstrap_messages %}
    <!-- END LOAD BOOTSTRAP FILES-->


    <!--HOLDS ALL METADATA INFO -->
    {% block metadata %}
    <!--End Metadata-->
    {% endblock %}
    <style>
        .select2-container, .select2-drop, .select2-search, .select2-search input {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
        }
        .select2-container .select2-choice {
            height: 34px;
        }
        .select2-container .select2-choice .select2-arrow {
            display: none;
        }
    </style>
</head>


<!-- Body-->
<body>
    {% include 'nav.html' %}
    {% block content %}
    {% endblock %}
    <!-- HOLDS ALL ADDITIONAL SCRIPTS -->
    {% block scripts %}
    {% endblock %}
    <!--End Script-->
</body>
<!--End Body-->


<!-- Footer -->
{% include 'footer.html'%}
<!-- End Footer-->

</html>