
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- LOADS ALL BOOTSTRAP FILES-->
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    {% bootstrap_messages %}
    <!-- END LOAD BOOTSTRAP FILES-->

    <!--HOLDS ALL METADATA INFO -->
    {% block metadata %}
    <!--End Metadata-->
    {% endblock %}
</head>


<!-- Body-->
<body>
    {% include 'nav.html' %}
    {% block content %}
    {% endblock %}
    <!-- HOLDS ALL ADDITIONAL SCRIPTS -->
    {% block scripts %}
    {% endblock %}
    <!--End Script-->
</body>
<!--End Body-->


<!-- Footer -->
{% include 'footer.html'%}
<!-- End Footer-->

</html>